<h3 style="margin-top: 10px; text-align: center;">Available medicine</h3>
<hr>
<table class="table" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Production year</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medicine of medicineService.availableMedicines; index as i">
            <td>{{medicine.medicine.id}}</td>
            <td>{{medicine.medicine.name}}</td>
            <td>{{medicine.medicine.brand}}</td>
            <td>{{medicine.medicine.productionYear}}</td>
            <td>{{medicine.medicine.price}}</td>
            <td>{{medicine.count}}</td>
        </tr>
    </tbody>
  </table>