<h3 style="margin-top: 10px; text-align: center;">Insert medicine</h3>
<hr>
<form [formGroup]="form" (ngSubmit)="submit()" class="form" style="margin-top: 10px;">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" 
            id="name" placeholder="Enter name"
            type = "text"
            formControlName="name">
    </div>
    <div class="mb-3">
        <label for="brand" class="form-label">Brand</label>
        <input class="form-control" 
            id="brand" placeholder="Enter brand"
            type="text"
            formControlName="brand">
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input class="form-control" 
            id="category" placeholder="Enter category"
            type="text"
            formControlName="category">
    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Production year</label>
        <input class="form-control" 
            id="year" placeholder="Enter year"
            type="number"
            formControlName="productionYear"
        >
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input class="form-control" 
            id="price" placeholder="Enter price"
            type="number"
            formControlName="price"
        >
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Insert</button>
    </div>
</form>