<h3 style="margin-top: 10px; text-align: center;">Sell medicine</h3>
<hr>
<form [formGroup]="form" (ngSubmit)="submit()" class="form" style="margin-top: 10px;">
    <div class="mb-3">
        <label for="id" class="form-label">Medicine id</label>
        <input class="form-control" id="id" placeholder="Enter id"
            type="number" formControlName="id">
    </div>
    <div class="mb-3">
        <label for="count" class="form-label">Medicine count</label>
        <input class="form-control" id="count" placeholder="Enter count"
            type="number" formControlName="count">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Sell</button>
    </div>
</form>
