<h3 style="margin-top: 10px; text-align: center;">Medicine collection</h3>
<hr>
<table class="table" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Category</th>
        <th scope="col">Production year</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medicine of medicineService.medicines; index as i">
            <td>{{medicine.id}}</td>
            <td>{{medicine.name}}</td>
            <td>{{medicine.brand}}</td>
            <td>{{medicine.category}}</td>
            <td>{{medicine.productionYear}}</td>
            <td>{{medicine.price}}</td>
        </tr>
    </tbody>
  </table>