<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand">Pharmacy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/insert" class="nav-link">Insert</a>
        </li>
        <li class="nav-item">
          <a routerLink="/update" class="nav-link">Update</a>
        </li>
        <li class="nav-item">
          <a routerLink="/delete" class="nav-link">Delete</a>
        </li>
        <li class="nav-item">
          <a routerLink="/available-medicine" class="nav-link">Available medicine</a>
        </li>
        <li class="nav-item">
          <a routerLink="/sale" class="nav-link">Sale</a>
        </li>
        <li class="nav-item">
          <a routerLink="/add-medicine" class="nav-link">Add medicine</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet hidden>
  </router-outlet>
</div>
